soluciones_handering/*.log
soluciones_handering/.DS_Store
soluciones_handering/.env
soluciones_handering/.env.backup
soluciones_handering/.env.production
soluciones_handering/.phpactor.json
soluciones_handering/.phpunit.result.cache
soluciones_handering/.fleet
soluciones_handering/.idea
soluciones_handering/.nova
soluciones_handering/.phpunit.cache
soluciones_handering/.vscode
soluciones_handering/.zed
soluciones_handering/auth.json
soluciones_handering/node_modules
soluciones_handering/public/build
soluciones_handering/public/hot
soluciones_handering/public/storage
soluciones_handering/storage/*.key
soluciones_handering/storage/pail
soluciones_handering/vendor
soluciones_handering/Homestead.json
soluciones_handering/Homestead.yaml
soluciones_handering/Thumbs.db
